.product {
  border-top: 2px dotted black; 
  .button {
    font-size: 1em;
  }
}

#state_nav li {
  display: inline;
}
.pane {
  margin-left: 20px;
}
.pane li {
  margin-left: 20px;
  list-style-type: disc;
}

#orders li {
  margin-top:5px;
}
